@import "loader";

#playlist {
    @include position(fixed, 0 null 0 0);
    
    .playlist-content {
        @include centered;
        left          : 0;
        width         : $controlPanel-size*2;
        height        : $controlPanel-size*2;
        border-radius : 50%;
    }
}
