@import "loader";

.list {
  @include Card($list-card-width, $list-card-height)
  position: relative;
  width: auto;
  margin: $list-row-height /2 ;
  margin-top: $list-margin-top;
  padding: $list-padding;
  padding-bottom: $list-padding-bottom;

  .list_table {
    position: relative;
    width: 100%;
    border-collapse: collapse;

    .list_table_header_tag {
      font-weight: $font-weight-bold;

      .list_table_header_sortCriteriaTypeSelector {
        cursor: pointer;

        .durationIcon {
          &::before {
            position: absolute;
            @include materialIcon();
            cursor: pointer;
            content: "timer";
            transform:  translateY(-12px);
          }
        }
      }

      .list_table_header_tag_sortCriteriaTypeOrderSelector {
        position: absolute;
        @include buttonReset;
        border-radius : 50%;
        cursor        : pointer;
        overflow      : hidden;

        span {
          display    : inline-block;
          width      : 100%;
          height     : 100%;
          text-align : center;


          &::before {
            @include materialIcon;
            cursor        : pointer;
            font-size: $list-filterOrderSelector-font-size;
          }
        }

        &.durationIcon {
          transform: translate(22px, -8px);
        }

        &.sortActive {
          &.sortInvert span::before{
            content: 'arrow_upward';
          }

          span::before {
            content: 'arrow_downward';
          }
        }
      }
    }
  }
}
