@import "loader";

.list_table {
  position: relative;
  @include Card(90%, 100%)
  margin: 5%;
  margin-top: 5px;
  border: none;
  //border-collapse: collapse;
}

.list_table:first-child {
  border: none;
}

.list_table:last-child {
  border: none;
}
