//
// Composant Panel.
// Copyright Paul Charpentier 2017.
//
@import 'loader';

// 1. Evite au panel de chevaucher le player.
.c-panel {
  position:     absolute;
  top:          0;
  right:        0;
  bottom:       0;
  left:         $control-panel__size; // [1]
  margin:       0 $control-panel__size + $panel__margin $panel__margin $panel__margin;
  transition:   left $tracks-list__transition-easing;

  // Permet de reduire la taille du panel quand la liste de lecture est ouverte.
  &--tracks-list-opened {
    left:         $tracks-list__size;
    margin-right: $panel__margin;
  }

  &__playall {
    z-index: 24;

    span {
      display:    inline-block;
      width:      100%;
      height:     100%;
      text-align: center;

      &::before {
        @include material-icon;

        color:     $text__color--light;
        content:   'play_arrow';
        font-size: $panel-playall__icon-size;
      }
    }
  }
}
