//
// Composant TracksListItem.
// Copyright Guillaume Chauveau 2017.
//
@import 'loader';

.c-tracks-list-item {
  @include centered;

  width:            $tracks-list__size;
  height:           $tracks-list-item__height;
  padding-left:     $control-panel__size;
  cursor:           pointer;
  transform:        translateY(-50%);
  transform-origin: 0 50% 0;
  transition:       transform $tracks-list-item__transition-time * 2 $tracks-list-item__transition-easing;

  &:hover {
    > button {
      opacity: 1;
    }

    .c-tracks-list-item__content {
      opacity: 1;
    }
  }

  &__content {
    display:       inline-block;
    width:         $tracks-list__size - $control-panel__size - $tracks-list-item__height;
    height:        100%;
    padding:       0 ($tracks-list-item__height - $tracks-list-item-content__font-size) / 2;
    color:         $text__color--light;
    font-size:     $tracks-list-item-content__font-size;
    line-height:   $tracks-list-item__height;
    opacity:       .8;
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
  }
}

.c-tracks-list-item-menu-toggler {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: '::before', base-color: $text__color--light));
  @include mdc-ripple-fg((pseudo: '::after', base-color: $text__color--light));
  @include button-reset;

  float:         left;
  width:         $tracks-list-item__height;
  height:        100%;
  border-radius: 50%;
  cursor:        pointer;
  opacity:       0;
  overflow:      hidden;
  text-align:    center;
  transition:    opacity $tracks-list-item__transition-time;

  span::before {
    @include material-icon;

    color:       $text__color--light;
    content:     'more_horiz';
    line-height: 1;
  }
}

.c-tracks-list-item-menu {
  display: inline-block;
  width:   $tracks-list__size - $control-panel__size - $tracks-list-item__height;
  height:  100%;
  margin:  0;
  padding: 0;
  cursor:  default;

  li {
    display: inline-block;
  }
}
