//
// Composant TracksListItem.
// Copyright Guillaume Chauveau 2017.
//
@import 'loader';

// 1. Definit le point a partir duquel la rotation doit etre effectuee.
.c-tracks-list-item {
  @include centered;

  width:            $tracks-list__size;
  height:           $tracks-list-item__height;
  padding-left:     $control-panel__size;
  cursor:           pointer;
  transform:        translateY(-50%);
  transform-origin: left center; // [1]
  transition:       transform $tracks-list-item__transition-time * 2 $tracks-list-item__transition-easing;

  &:hover {
    .c-tracks-list-item-menu-toggler {
      opacity: 1;
    }

    .c-tracks-list-item__content {
      opacity: 1;
    }
  }

  // 1. Calcule l'espace disponible.
  // 2. Padding calcule pour remplir l'espace restant.
  // 3. Coupe le texte.
  &__content {
    display:       inline-block;
    width:         $tracks-list__size - $control-panel__size - $tracks-list-item-menu-toggler__width; // [1]
    height:        100%;
    padding:       0 ($tracks-list-item__height - $tracks-list-item-content__font-size) / 2; // [2]
    color:         $text__color--light;
    font-size:     $tracks-list-item-content__font-size;
    line-height:   $tracks-list-item__height;
    opacity:       .8;
    overflow:      hidden; // [3]
    text-overflow: ellipsis; // [3]
    white-space:   nowrap; // [3]
  }
}

.c-tracks-list-item-menu-toggler {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: '::before', base-color: $text__color--light));
  @include mdc-ripple-fg((pseudo: '::after', base-color: $text__color--light));
  @include button-reset;

  float:         left;
  width:         $tracks-list-item-menu-toggler__width;
  height:        100%;
  border-radius: 50%;
  cursor:        pointer;
  opacity:       0;
  overflow:      hidden;
  text-align:    center;
  transition:    opacity $tracks-list-item__transition-time;

  // 1. https://material.io/icons/#ic_more_horiz
  &__icon::before {
    @include material-icon;

    color:       $text__color--light;
    content:     'more_horiz'; // [1]
    line-height: 1;
  }
}

// 1. Calcule l'espace disponible.
// 2. Desactive le curseur herite du parent (ce dernier etant en pointeur).
.c-tracks-list-item-menu {
  display: inline-block;
  width:   $tracks-list__size - $control-panel__size - $tracks-list-item__height; // [1]
  height:  100%;
  margin:  0;
  padding: 0;
  cursor:  default; // [2]

  li {
    display: inline-block;
  }
}
