$font-family-sans-serif: Roboto, sans-serif;
$font-family-base: $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 15px;

$font-size-xs: .75rem;
$font-size-sm: .875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-base: $font-size-md;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-regular;

$line-height-base: 1.15;
