$color-primary : #FFC115;

$bg-primary : #FFFFFF;
$bg-secondary : #F1F1F1;
$bg-disabled : #DFDFDF;
$bg-dark-primary : #3A3A3A;
$bg-dark-secondary : #282828;
$bg-dark-disabled : #404040;

$text-color : rgba(0, 0, 0, 0.87);
$text-color-light : rgba(0, 0, 0, 0.54);
$text-color-disabled : #A5A5A5;
$text-light-color : #FFFFFF;
$text-light-color-dark : rgba(255, 255, 255, 0.7);
$text-light-color-disabled : #7A7A7A;

$mdc-theme-primary : $bg-dark-primary;
$mdc-theme-accent : $color-primary;
$mdc-theme-background : $bg-primary;

$mdc-fab-fixed-position-offset : 50px;

$card-border-radius : 2px;
