$color-primary: #ffc115;

$bg-primary: #fff;
$bg-secondary: #f1f1f1;
$bg-dark-primary: #3a3a3a;
$bg-dark-secondary: #282828;

$text-color: rgba(0, 0, 0, 0.87);
$text-color-light: rgba(0, 0, 0, 0.54);
$text-light-color: #fff;
$text-light-color-dark: rgba(255, 255, 255, 0.7);

$mdc-theme-primary: $bg-dark-primary;
$mdc-theme-accent: $color-primary;
$mdc-theme-background: $bg-primary;

$mdc-fab-absolute-position-offset: 50px;
