@import "loader";

.panel {
  position     : absolute;
  left         : $controlPanel-size;
  transition   : left $tracksList-item-transition-easing;
  right        : 0;
  top          : 0;
  bottom       : 0;
  margin       : $panel-margin;
  margin-top   : 0;
  margin-right : $controlPanel-size + $panel-margin;

  &.tracksListOpened {
    left         : $tracksList-size;
    margin-right : $panel-margin;
  }

  .panel_playAllButton {
    z-index : 24;

    span {
      display    : inline-block;
      width      : 100%;
      height     : 100%;
      text-align : center;

      &::before {
        @include materialIcon;
        content   : "play_arrow";
        cursor    : pointer;
        font-size : $panel-fabPlayAll-icon-size;
        color     : $text-light-color;
      }
    }
  }
}
