//
// Composant MDC/FAB.
// Copyright Guillaume Chauveau 2017.
//
@import 'loader';
@import '@material/fab/mdc-fab';

.o-app-fab--fixed {
  position: fixed;
  right:    $mdc-fab-absolute-position-offset;
  bottom:   $mdc-fab-absolute-position-offset;
}
