@import "loader";
@import "@material/fab/mdc-fab";

.app-fab--absolute {
    position : absolute;
    bottom   : $mdc-fab-absolute-position-offset;
    right    : $mdc-fab-absolute-position-offset;
}
