//
// Composant Playlist.
// Copyright Guillaume Chauveau 2017.
//
@import 'loader';

.c-playlist {
  @include position(fixed, 0 null 0 0);

  &__content {
    @include centered;

    left:          0;
    width:         $control-panel__size * 2;
    height:        $control-panel__size * 2;
    border-radius: 50%;
  }
}
