@import 'loader';

*,
*::before,
*::after {
  box-sizing:  border-box;
  cursor:      default;
  user-select: none;
}

html {
  font-size: $font-size-root;
}

body {
  margin:      0;
  color:       $text-color;
  font-family: $font-family-base;
  font-size:   $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}
