$item-width                  : 130px;
$item-height                 : 180px;
$item-picture-size           : .8;
$item-picture-border-size    : 3px;
$item-transition-hover-delay : 250ms;
$item-border-radius          : 2px;
