@import "loader";

.tracksList-item {
    @include centered;
    width            : $tracksList-size;
    height           : $tracksList-item-height;
    padding-left     : $controlPanel-size;
    cursor           : pointer;
    transform        : translateY(-50%);
    transform-origin : 0 50% 0;
    transition       : transform $tracksList-item-transition-time*2 $tracksList-item-transition-easing;
    
    &:hover {
        
        & > button {
            opacity : 1;
        }
        
        .tracksList-item-content {
            opacity : 1;
        }
    }
    
    & > button {
        @include mdc-ripple-base;
        @include mdc-ripple-bg((pseudo: "::before", base-color: $text-light-color));
        @include mdc-ripple-fg((pseudo: "::after", base-color: $text-light-color));
        @include buttonReset;
        float         : left;
        width         : $tracksList-item-height;
        height        : 100%;
        border-radius : 50%;
        opacity       : 0;
        text-align    : center;
        cursor        : pointer;
        overflow      : hidden;
        transition    : opacity $tracksList-item-transition-time;
        
        span {
            cursor : inherit;
            
            &::before {
                @include materialIcon;
                content     : 'more_horiz';
                color       : $text-light-color;
                line-height : 1;
                cursor      : inherit;
            }
        }
    }
    
    .tracksList-item-menu {
        display : inline-block;
        float   : left;
        width   : $tracksList-size - $controlPanel-size - $tracksList-item-height;
        height  : 100%;
        margin  : 0;
        padding : 0;
        
        li {
            display : inline-block;
            
            .tracksList-item-menu-action {
                @include mdc-ripple-base;
                @include mdc-ripple-bg((pseudo: "::before"));
                @include mdc-ripple-fg((pseudo: "::after"));
                @include buttonReset;
                width         : $tracksList-item-height;
                height        : $tracksList-item-height;
                border-radius : 50%;
                cursor        : pointer;
                overflow      : hidden;
                
                span {
                    display          : inline-block;
                    width            : 100%;
                    height           : 100%;
                    color            : $text-light-color;
                    text-align       : center;
                    font-size        : inherit;
                    cursor           : inherit;
                    
                    &::before {
                        @include materialIcon;
                        line-height : $tracksList-item-height;
                        cursor      : inherit;
                    }
                }
                
                &.play span::before {
                    content : "play_arrow";
                }
                
                &.remove span::before {
                    content : "delete";
                }
            }
        }
    }
    
    .tracksList-item-content {
        display     : inline-block;
        float       : left;
        width       : $tracksList-size - $controlPanel-size - $tracksList-item-height;
        height      : 100%;
        padding     : ($tracksList-item-height - $tracksList-item-content-font-size)/2;
        opacity     : 0.8;
        color       : $text-light-color;
        font-size   : $tracksList-item-content-font-size;
        line-height : 1;
        cursor      : inherit;
    }
}
