@import "loader";

/* ITEM */

.item {
  cursor: pointer;
  position  : relative;
  width     : $item-width;
  height    : $item-height;
  margin    : 5px;

  .item_card {
    position: relative;
    @include Card($item-width, $item-height);
    @include InteractiveCard();

    &:hover {
      .item_background {
        background-color  : $color-primary;
        transform         : scale(1.05);
      }
    }

    .item_picture {

      cursor: pointer;
      z-index   : 3;
      height    : $item-width;

      .picture_background {
        cursor: pointer;
        position          : absolute;
        top               : 0;
        width             : $item-width * $item-picture-size;
        height            : $item-width * $item-picture-size;
        margin            : $item-width *(1 - $item-picture-size) / 2;
        border-radius     : 50%;
        background-color  : $bg-primary ;
        @include mdc-elevation(2);
        transition        : background-color $item-transition-hover-duration, transform $item-transition-hover-duration;
      }

      img {
        cursor: pointer;
        position          : absolute;
        top               : 0;
        width             : $item-width * $item-picture-size - $item-picture-border-size * 2;
        height            : $item-width * $item-picture-size - $item-picture-border-size * 2;
        margin            : $item-picture-border-size + $item-width * (1-$item-picture-size ) /2 ;
        border-radius     : 50%;
      }
    }

    .item_text {
      p {
        cursor: pointer;
        width       : $item-width - 30;
        margin      : 0;
        margin-left : $item-width *(1-$item-picture-size ) /2 ;
        font-weight : $font-weight-light;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .item_menu {
    margin-left : $item-width - 30;
    top         : -40px;

  }
}
