@import "loader";

.item {
  position  : relative;
  width     : $item-width;
  height    : $item-height;
  margin    : $item-margin;
  cursor    : pointer;

  .item_card {
    position : relative;
    @include Card($item-width, $item-height);
    @include InteractiveCard();

    .item_picture {
      height    : $item-width;
      cursor    : pointer;

      .picture_background {
        @include mdc-elevation(2);
        position         : absolute;
        top              : 0;
        width            : $item-width * $item-picture-size;
        height           : $item-width * $item-picture-size;
        margin           : $item-picture-margin;
        border-radius    : 50%;
        background-color : $bg-primary ;
        cursor           : pointer;
        transition       : background-color $item-transition-hover-duration, transform $item-transition-hover-duration;
      }

      img {
        position      : absolute;
        top           : 0;
        width         : $item-width * $item-picture-size - $item-picture-border-size * 2;
        height        : $item-width * $item-picture-size - $item-picture-border-size * 2;
        margin        : $item-picture-border-size + $item-picture-margin;
        border-radius : 50%;
        cursor        : pointer;
      }
    }

    &:hover .picture_background {
      background-color : $color-primary;
      transform        : scale(1.05);
    }

    .item_text {
      position: relative;
      overflow: hidden;
      height: 32px;
      width: $item-width - 50px;
      margin-left : $item-width *(1-$item-picture-size ) /2 ;
      margin-right: 30px;

      span {
        position: absolute;
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        margin      : 0;
        font-weight : $font-weight-light;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .item_menu {
    visibility  : hidden;
    position    : relative;
    top         : -50px;
    margin-left : $item-width - 30;
  }

  &:hover {
    .item_menu {
      visibility : visible;
    }

    &.scrollingEnabled .item_text span{
      animation: scrollingText 7s infinite alternate linear;
    }
  }
}


@keyframes scrollingText {
  0% {transform: translateX(0);}
  100% {transform: translateX(calc(-100% + (#{$item-width} - 60px)));}
}
