@import 'loader';

.c-navigation {
  @include card(100%, $navigation-card__height);
  @include mdc-elevation(2);

  ul {
    padding:    0;
    list-style: none;
  }

  button {
    @include button-reset;

    margin:        $navigation-button__margin;
    margin-right:  0;
    margin-left:   $navigation-button__spacing;
    border-radius: 50%;
    cursor:        pointer;
    overflow:      hidden;

    &:not(&--disabled) {
      @include mdc-ripple-base;
      @include mdc-ripple-fg((pseudo: '::after'));

      span::before {
        cursor: pointer;
      }
    }

    span::before {
      @include material-icon;

      font-size:  $navigation-button__icon-size;
      transition: color $navigation__transition-duration;
    }
  }

  &-buttons {
    float: left;

    li {
      float:       left;
      margin-left: $navigation-button__spacing;
    }
  }

  &-titles {
    float:       left;
    margin-left: 2 * $navigation-button__spacing;
    line-height: $navigation-card__height;

    li {
      float: left;
    }
  }

  &-links {
    float:        right;
    margin-right: $navigation-controls__margin-right;

    li {
      float:       left;
      margin-left: $navigation-button__spacing;
    }
  }

  &-button {
    &--back span::before {
      content: 'arrow_back';
    }

    &--forward span::before {
      content: 'arrow_forward';
    }

    &--disabled span::before {
      color:  $text__color__disabled;
      cursor: default;
    }
  }

  &-title {
    font-size:  $navigation-title__fontsize;
    transition: color $navigation__transition-duration;

    &__text {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__arrow::before {
      @include material-icon;

      content:        'keyboard_arrow_right';
      cursor:         pointer;
      font-size:      $navigation-button__icon-size;
      vertical-align: middle;
    }

    &--active {
      color: $color--primary;

      ~ li {
        color: $text__color__disabled;
      }
    }
  }

  &-link {
    &--all-artists span::before {
      content: 'person';
    }

    &--all-albums span::before {
      content: 'album';
    }

    &--all-titles span::before {
      content: 'music_note';
    }

    &--current span::before {
      color: $color--primary;
    }
  }
}
