@import "loader";
@import "@material/menu/mdc-menu";

.mdc-menu-anchor {
    & > button {
        @include mdc-ripple-base;
        @include mdc-ripple-bg((pseudo: "::before"));
        @include mdc-ripple-fg((pseudo: "::after"));
        @include buttonReset;
        border-radius : 100%;
        cursor        : pointer;
        overflow      : hidden;
        
        span {
            display    : inline-block;
            width      : 100%;
            height     : 100%;
            color      : $text-color;
            cursor     : inherit;
            text-align : center;
            
            &::before {
                @include materialIcon;
                content : 'more_vert';
                cursor  : inherit;
            }
        }
        
        &.horiz span::before {
            content : 'more_horiz';
        }
    }
}