//
// ControlPanel variables.
// Copyright Guillaume Chauveau 2017.
//

$control-panel__size: 130px;

$control-panel-position-indicator__size: 4px;
$control-panel-position-indicator__color: rgba(0, 0, 0, .15);
$control-panel-times__offsets: (5px, 15px);

$control-panel-control__size--main: 48px;
$control-panel-control__size--nav: 36px;
$control-panel-control__font-size--main: 36px;
$control-panel-control__font-size--nav: 24px;
$control-panel-control__horiz-offset--main: 0;
$control-panel-control__vert-offset-ratio--nav: 2 / 3;
