$controlPanel-size : 130px;

$controlPanel-position-indicator-size : 4px;
$controlPanel-position-indicator-color : rgba(0, 0, 0, 0.15);
$controlPanel-times-offsets : (5px, 15px);

$controlPanel-controls-main-size : 48px;
$controlPanel-controls-main-font-size : 36px;
$controlPanel-controls-main-horiz-offset-ratio : 1.3;
$controlPanel-controls-nav-size : 36px;
$controlPanel-controls-nav-font-size : 24px;
$controlPanel-controls-nav-vert-offset-ratio : 2/3;
