@import "loader";

<<<<<<< HEAD
.list-row {
  position      : relative;
  height        : $list-row-height;
  border-bottom : $list-row-border;
  transition    : background-color 200ms;

  &.last {
    border-bottom : none;
  }

  .list-row_value {
    cursor : pointer;

    &.trackNumber {
      width     : $list-row-trackNumber-width;
      transform : $list-row-trackNumber-transform;
    }

    &.title {
      line-height: $list-row-height;

      .list-row_menu {
        float      : right;
        visibility : hidden;
        transform  : $list-row-title-menu-transform;

      }
    }

    &.selectable span:hover {
      cursor          : pointer;
      text-decoration : underline;
    }
  }

  &:hover, &.play, &.pause, &.selected {
    background-color : $bg-secondary;

    .list-row_value .list-row_menu {
      visibility : visible;
    }
  }

  &:hover, &.play, &.pause {
    .trackNumber_value {
      display : none;
    }
  }

  &.pause .playAnim, &.play .playAnim {
    position    : absolute;
    bottom      : $list-row-playAnim-bottom;
    left        : $list-row-playAnim-left;
    margin-left : $list-row-playAnim-bar-marginSide;

    span {
      display                   : inline-block;
      width                     : $list-row-playAnim-bar-width;
      height                    : $list-row-playAnim-bar-height-default;
      margin                    : 0 $list-row-playAnim-bar-marginSide;
      margin-left               : 0;
      background-color          : $text-color;

      animation-duration        : $list-row-playAnim-duration;
      animation-iteration-count : infinite;

      &.barA {
        animation-delay : $list-row-playAnim-bar-a-delay;
      }

      &.barB {
        animation-delay : $list-row-playAnim-bar-b-delay;
      }

      &.barC {
        animation-delay : $list-row-playAnim-bar-c-delay;
      }
    }
  }

  &.play .playAnim span {
    animation-name : list-row-playAnim;
  }

  &:hover:not(.play):not(.pause) .trackNumber::before {
    @include materialIcon();
    position  : absolute;
    content   : "play_arrow";
    font-size : $list-row-playButton-font-size;
    transform : $list-row-playButton-translate;
    cursor    : pointer;
=======


.list-row {
  position: relative;
  height: $list-row-height;
  border-bottom: $list-row-border;
  transition: background-color 200ms;

  .list-row_value.trackNumber {
    width:50px;
  }

  &.last {
    border-bottom: none;
  }

  &:hover {
    background-color: $bg-secondary;

    &:not(.currentPlay) {
      .trackNumber {
        transition: color 100ms;

        .trackNumber_value {
          display: none;
        }

        &::before {
          cursor: pointer;
          position: absolute;
          @include materialIcon();
          content: "play_arrow";
          font-size: $list-row-playButton-font-size;
          transform: $list-row-playButton-translate;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &.currentPlay {
    .trackNumber {
      .trackNumber_value {
        display: none;
      }

      .trackNumber_playAnim {
        position: absolute;
        bottom: $list-row-playAnim-bottom;
        left: $list-row-playAnim-left;

        span {
          display: inline-block;
          width: $list-row-playAnim-bar-width;
          height: $list-row-playAnim-bar-height-default;
          margin: 0 $list-row-playAnim-bar-marginSide;
          background-color: $text-color;
          animation-duration: $list-row-playAnim-duration;
          animation-name: list-row-playAnim;
          animation-iteration-count: infinite;

          &.barA {
            animation-delay: $list-row-playAnim-bar-a-delay;
          }

          &.barB {
            animation-delay: $list-row-playAnim-bar-b-delay;
          }

          &.barC {
            animation-delay: $list-row-playAnim-bar-c-delay;
          }
        }
      }
    }
  }

  .list-row_value  {
    &.title {
      transform: translateY(6px);

      .list-row_menu {
        transform: $list-row-value-title-translate;
        float: right;
      }
    }

    &.selectable {
      span:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }


    &.trackNumber {
      transform: translateX(10px);
    }
>>>>>>> 5cbd9f646c37bfa0ea3d1a4b2468638d7951c127
  }
}
