@import "loader";

.navigation {
  .navigation_card {
    @include Card(100%, $navigation-card-height);
    @include mdc-elevation(4);

    ul {
      padding    : 0;
      list-style : none;

      &.navigation_controls {
        li {
          float : left;

          &.controls_buttons {
            button {
              &:not(.disabled) {
                @include mdc-ripple-base;
                @include mdc-ripple-fg((pseudo: "::after"));

                span::before {
                  cursor : pointer;
                }
              }

              @include buttonReset;
              border-radius: 50%;
              cursor        : pointer;
              overflow      : hidden;
              margin        : $navigation-button-margin;
              margin-left   : $navigation-button-spacing;
              margin-right  : 0;

              span::before {
                @include materialIcon;
                font-size: $navigation-button-icon-size;
                transition: color $navigation-transition-duration;
              }

              &.back span::before {
                content : 'arrow_back';
              }

              &.foward span::before {
                content : 'arrow_forward';
              }

              &.allArtists span::before {
                content : 'person';
              }

              &.allAlbums span::before {
                content : 'album';
              }

              &.allTitles span::before {
                content : 'music_note';
              }

              &.current {
                color: $color-primary;
              }

              &.disabled {
                cursor : default;
                color: $text-color-disabled;
              }
            }
          }

          &.controls_titles {
            padding-left: $navigation-titles-leftSpace;

            .title {
              font-size: $navigation-title-fontSize;
              transition: color $navigation-transition-duration;

              .text {
                cursor: pointer;
                &:hover {
                  border-bottom: solid 2px;
                }
              }

              .arrow::before {
                cursor: pointer;
                transform: $navigation-title-arrow-position;
                @include materialIcon;
                content: "keyboard_arrow_right";
                font-size: $navigation-button-icon-size;
                }
              }

            .active {
              color: $color-primary;

              ~ li {
                color: $text-color-disabled;
              }
            }
          }
        }
      }
    }
  }
}
