<<<<<<< HEAD
$item-ratio                     : 1.33;
$item-width                     : 160px;
$item-height                    : $item-width * $item-ratio;
$item-picture-size              : .8;
$item-picture-margin            : $item-width *(1-$item-picture-size ) /2;
$item-picture-border-size       : $item-width * 0.025;
$item-transition-hover-duration : 200ms;
$item-margin                    : 5px;
=======
$item-ratio                  : 1.25;
$item-width                  : 180px;
$item-height                 : $item-width * $item-ratio;
$item-picture-size           : .8;
$item-picture-border-size    : $item-width * 0.025;
$item-transition-hover-duration : 180ms;
>>>>>>> 5cbd9f646c37bfa0ea3d1a4b2468638d7951c127
