$item-ratio                  : 1.25;
$item-width                  : 180px;
$item-height                 : $item-width * $item-ratio;
$item-picture-size           : .8;
$item-picture-border-size    : $item-width * 0.025;
$item-transition-hover-duration : 180ms;
