//
// Panel Item variables.
// Copyright Paul Charpentier 2017.
//

$item__ratio:                             1.33;
$item__width:                             160px;
$item__margin:                            5px;
$item-picture__relative-size:             .8;
$item-picture__border-relative-size:      .025;
$item__transition-hover-duration:         200ms;
$item-text__animation-scrolling-duration: 5s;
// Computed Variables
//
$item__height:                   $item__width * $item__ratio;
$item-picture__size:             $item__width * $item-picture__relative-size;
$item-picture__margin:           $item__width * (1 - $item-picture__relative-size) / 2;
$item-picture__border-size:      $item__width * $item-picture__border-relative-size;
$item-picture-img__size:         $item__width * $item-picture__relative-size - $item-picture__border-size * 2;
$item-picture-img__margin:       $item-picture__border-size + $item-picture__margin;
$item-text__animation-scrolling: animation-item-text-scrolling
                                  $item-text__animation-scrolling-duration
                                  infinite alternate linear;
// Animation
//
@keyframes animation-item-text-scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% + (#{$item__width} - 60px))); }
}
