$list-card-width : 98%;
$list-card-height : 100%;

$list-marginSide : 50px;
$list-margin-top : 10px;

$list-padding : 20px;
$list-padding-bottom : 2px;

$list-durationIcon-translate : translate(6px, -12px);

$list-filterOrderSelector-font-size : 17px;

$list-row-height : 50px;

$list-row-border : solid 1px rgba(0,0,0, .1);

$list-row-playButton-font-size : 36px;
$list-row-playButton-translate : translate(-15px, -$list-row-playButton-font-size /2);


$list-row-playAnim-bottom : 12px;
$list-row-playAnim-left : -5px;
$list-row-playAnim-bar-width : 7px;
$list-row-playAnim-bar-height-default : 20px;
$list-row-playAnim-bar-marginSide : 1px;
$list-row-playAnim-duration : 1s;
$list-row-playAnim-bar-a-delay : 100ms;
$list-row-playAnim-bar-b-delay : -200ms;
$list-row-playAnim-bar-c-delay : 0ms;

$list-row-value-title-translate : translate(-15px ,-4px);
$list-row-value-trackNumber-translate : translateX(10px);

@keyframes list-row-playAnim{
  0% {height: 8px;}
  10% {height: 10px;}
  20% {height: 12px;}
  40% {height: 15px;}
  60% {height: 18px;}
  80% {height: 16px;}
  100% {height: 7px;}
}
