$navigation-card-height          : 50px;
$navigation-transition-duration  : 200ms;
$navigation-button-margin        : 10px;
$navigation-button-spacing       : 10px;
$navigation-button-icon-size     : 32px;
$navigation-titles-leftSpace     : 80px;
$navigation-title-fontSize       : 18px;
$navigation-title-arrow-position : translate(-6px, 11px);
