//
// Panel Navigation variables.
// Copyright Paul Charpentier 2017.
//

$navigation-card__height: 64px;
$navigation-button__spacing: 16px;
$navigation-button__icon-size: 28px;
$navigation-controls__margin-right: 32px;
$navigation-title__fontsize: 18px;
$navigation__transition-duration: 200ms;
// Computed Variables
//
// Calcule l'espacement des boutons par rapport au bord de la carte.
$navigation-button__margin: ($navigation-card__height - $navigation-button__icon-size) / 2;
