$navigation-card-height           : 64px;
$navigation-transition-duration   : 200ms;

$navigation-button-spacing        : 16px;
$navigation-button-icon-size      : 28px;
$navigation-button-margin         : ($navigation-card-height - $navigation-button-icon-size) /2;
$navigation-controls-margin-right : 32px;
$navigation-title-fontSize        : 18px;
