@mixin materialIcon() {
    font-family            : 'Material Icons';
    font-weight            : normal;
    font-style             : normal;
    font-size              : 24px; /* Preferred icon size */
    display                : inline-block;
    line-height            : 1;
    text-transform         : none;
    letter-spacing         : normal;
    word-wrap              : normal;
    white-space            : nowrap;
    direction              : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing : antialiased;
    /* Support for Safari and Chrome. */
    text-rendering         : optimizeLegibility;
}

@mixin centered() {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
}

@mixin buttonReset() {
    margin     : 0;
    padding    : 0;
    background : none;
    border     : none;
    outline    : none;
    text-align : left;
    color      : $text-color;
}

@mixin Card($width, $height) {
  width             : $width;
  height            : $height;
  border-radius     : 2px;
  background-color  : $bg-primary;
  @include mdc-elevation(2);
  user-select       : none;
}

@mixin InteractiveCard() {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: "::before"));
  @include mdc-ripple-fg((pseudo: "::after"));
  overflow:  hidden;
  @include mdc-elevation-transition;
  cursor            : pointer;

  &:hover {
    @include mdc-elevation(8);
  }
}
