@mixin materialIcon() {
    font-family            : 'Material Icons';
    font-weight            : normal;
    font-style             : normal;
    font-size              : 24px; /* Preferred icon size */
    display                : inline-block;
    line-height            : 1;
    text-transform         : none;
    letter-spacing         : normal;
    word-wrap              : normal;
    white-space            : nowrap;
    direction              : ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing : antialiased;
    /* Support for Safari and Chrome. */
    text-rendering         : optimizeLegibility;
}

@mixin centered() {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
}

@mixin buttonReset() {
    margin     : 0;
    padding    : 0;
    background : none;
    border     : none;
    outline    : none;
    text-align : left;
    color      : $text-color;
}
