//
// Mixins.
// Copyright Guillaume Chauveau 2017.
//

@mixin material-icon {
  display:        inline-block;
  direction:      ltr;
  font-family:    'Material Icons';
  // Preferred icon size
  font-size:      24px;
  font-style:     normal;
  font-weight:    normal;
  letter-spacing: normal;
  line-height:    1;
  text-transform: none;
  white-space:    nowrap;
}

@mixin centered {
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}

@mixin button-reset {
  margin:     0;
  padding:    0;
  border:     none;
  background: none;
  color:      $text__color;
  outline:    none;
  text-align: left;
}

@mixin remove-mdc-ripple {
  &::before,
  &::after {
    display: none;
  }
}

@mixin card($width, $height) {
  @include mdc-elevation(2);

  width:            $width;
  height:           $height;
  border-radius:    $card__border-radius;
  background-color: $bg__color--primary;
  user-select:      none;
}

@mixin interactive-card() {
  @include mdc-ripple-fg((pseudo: '::after'));
  @include mdc-ripple-base;
  @include mdc-elevation-transition;

  cursor:   pointer;
  overflow: hidden;

  &:hover {
    @include mdc-elevation(8);
  }
}
