//
// Composant TracksList.
// Copyright Guillaume Chauveau 2017.
//
@import 'loader';

.c-tracks-list {
  position:      relative;
  width:         100%;
  height:        100%;
  border-radius: 50%;

  &:hover {
    .c-tracks-list-open {
      @include mdc-elevation(1);

      width:  ($control-panel__size + $tracks-list-open__size) * 2;
      height: ($control-panel__size + $tracks-list-open__size) * 2;
    }

    .c-tracks-list-close {
      @include mdc-elevation(1);

      transform: translateY(-50%) translateX(0);
    }

    .c-tracks-list-waypoint-scroller {
      @include mdc-elevation(1);

      transform: translateY(-50%) translateX(0);
    }
  }

  &--active {
    .c-tracks-list-hover-zone {
      width:  $tracks-list-hover-zone__size--active * 2;
      height: $tracks-list-hover-zone__size--active * 2;
    }

    .c-tracks-list__content {
      @include mdc-elevation(2);

      width:  $tracks-list__size * 2;
      height: $tracks-list__size * 2;
    }
  }
}

.c-tracks-list-hover-zone {
  @include centered;

  width:         $tracks-list-hover-zone__size * 2;
  height:        $tracks-list-hover-zone__size * 2;
  border-radius: 50%;
}

.c-tracks-list-open {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: '::before'));
  @include mdc-ripple-fg((pseudo: '::after'));
  @include button-reset;
  @include centered;

  width:            ($control-panel__size - 1px) * 2;
  height:           ($control-panel__size - 1px) * 2;
  border-radius:    50%;
  background-color: $bg__color--dark-primary;
  cursor:           pointer;
  overflow:         hidden;
  transition:       width $tracks-list__transition-time / 2 $tracks-list__transition-easing,
                    height $tracks-list__transition-time / 2 $tracks-list__transition-easing;
}

.c-tracks-list-close {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: '::before'));
  @include mdc-ripple-fg((pseudo: '::after'));
  @include button-reset;
  @include centered;

  left:             $control-panel__size + $tracks-list__size - 1px;
  width:            $tracks-list-close__size;
  height:           $tracks-list-close__size;
  border-radius:    0 $tracks-list-button__border-radius $tracks-list-button__border-radius 0;
  background-color: $color--primary;
  cursor:           pointer;
  overflow:         hidden;
  transform:        translateY(-50%) translateX(-100%);
  transition:       left $tracks-list__transition-time $tracks-list__transition-easing,
                    transform $tracks-list__transition-time $tracks-list__transition-easing;

  &__icon {
    display:    inline-block;
    width:      100%;
    height:     100%;
    color:      $text__color--light;
    text-align: center;

    &::before {
      @include material-icon;

      content:     'close';
      line-height: $tracks-list-close__size;
    }
  }
}

.c-tracks-list-waypoint-scroller {
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: '::before'));
  @include mdc-ripple-fg((pseudo: '::after'));
  @include button-reset;

  position:         absolute;
  left:             $tracks-list__size - 1px;
  width:            $tracks-list-waypoint-scroller__size;
  height:           $tracks-list-waypoint-scroller__size;
  border-radius:    0 $tracks-list-button__border-radius $tracks-list-button__border-radius 0;
  background-color: $color--primary;
  overflow:         hidden;
  transform:        translateY(-50%) translateX(-100%);
  transition:       left $tracks-list__transition-time $tracks-list__transition-easing,
                    transform $tracks-list__transition-time $tracks-list__transition-easing;

  &__icon {
    display:    inline-block;
    width:      100%;
    height:     100%;
    color:      $text__color--light;
    cursor:     pointer;
    text-align: center;

    &::before {
      @include material-icon;

      content:     'chevron_right';
      line-height: $tracks-list-close__size;
      transform:   rotate(-90deg);
    }
  }

  &--down .c-tracks-list-waypoint-scroller__icon::before {
    transform: rotate(90deg);
  }

  &__container {
    @include centered;

    transform:        translateY(-50%);
    transform-origin: 0 50% 0;
    transition:       transform $tracks-list-item__transition-time * 2 $tracks-list-item__transition-easing;
  }
}

.js-tracks-list-buttons__transition {
  &-enter,
  &-leave-to {
    &.c-tracks-list-close {
      left: $control-panel__size - $tracks-list-close__size;
    }

    .c-tracks-list-waypoint-scroller {
      left: $control-panel__size - $tracks-list-waypoint-scroller__size;
    }
  }
}
