@import "loader";


/* ITEM */

.item {
  position  : relative;
  width     : $item-width;
  height    : $item-height;
  margin    : 5px;
}

.item_card {
  position: relative;
  @include Card($item-width, $item-height);
  @include InteractiveCard();
}


/* ITEM_PICTURE */

.item_card_picture {
  z-index   : 3;
  position  : relative;
  top       : 0;
  width     : $item-width;
  height    : $item-width;
}

.item_card_picture_background {
  position          : absolute;
  top               : 0;
  width             : $item-width * $item-picture-size;
  height            : $item-width * $item-picture-size;
  margin            : $item-width *(1 - $item-picture-size) / 2;
  border-radius     : 50%;
  background-color  : $bg-primary ;
  @include mdc-elevation(2);
  transition        : background-color $item-transition-hover-delay;
  transition        : transform $item-transition-hover-delay;
}

img {
  position          : absolute;
  top               : 0;
  width             : $item-width * $item-picture-size - $item-picture-border-size * 2;
  height            : $item-width * $item-picture-size - $item-picture-border-size * 2;
  margin            : $item-picture-border-size + $item-width * (1-$item-picture-size ) /2 ;
  border-radius     : 50%;
}


/* ITEM_TEXT */

.item_card_text {
  position  : relative;
  left      : 0;
  height    : $item-height - $item-width;
  margin    : 0;
}

.item_menu {
  margin-left : $item-width - 24;
  width       : 24px;
  top         : -($item-height - $item-width);
  position    : absolute;
  right       : 0;
}

p {
  top         : 2px;
  position    : absolute;
  width       : 100px;
  margin      : 0;
  margin-left : $item-width *(1-$item-picture-size ) /2 ;
  font-weight : $font-weight-light;
}


/* ITEM:HOVER */

.item_card:hover .item_card_picture_background {
  background-color  : $color-primary;
  transform         : scale(1.05);
}

p:hover {
  text-decoration: underline;
}
