include pug/mixins/_mixins

doctype html

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")

    title Neodyme

    //CSS-CHUNKS-LOAD

  body
    #app

    +script("js/app.js")
